---
import ClientLayout from "../../layouts/client_layout.astro";

let url = Astro.url.pathname;
let id = url.split("/").pop();

let response = await fetch(
  `https://virtual-cards-api-zeta.vercel.app/api/clients/${id}`
);
let client = await response.json();

let social_networks = client.socialNetworks;
let numbers = client.phone;
let locations = client.location;
let cont = 1;
---

<ClientLayout title={client.name} cliente={client}>
  <div class="social-networks">
    {
      numbers.length === 1 ? (
        <a
          class="button"
          href={`https://wa.me/${numbers[0]}?text=Hola ${client.name} quiero contactarte`}
          target="_blank"
        >
          <img src="/icons/whatsapp" alt="whatsapp" />
          WHATSAPP
        </a>
      ) : (
        numbers.map((number) => {
          let linkWhapp = `https://wa.me/${number}?text=Hola ${client.name} quiero contactarte`;
          return (
            <a class="button" href={linkWhapp} target="_blank">
              <img src="/icons/whatsapp.webp" alt="whatsapp" />
              WHATSAPP {cont++}
            </a>
          );
        })
      )
    }
    {
      social_networks.map((social_network) => {
        let net = social_network.split(".")[1];
        let source = `/icons/${net}.webp`;
        return (
          <a class="button" href={social_network} target="_blank">
            <img src={source} alt={net} />
            {net.toUpperCase()}
          </a>
        );
      })
    }
    {
      locations.length === 1 ? (
        <a class="button" href={locations[0]} target="_blank">
          <img src="/icons/map.webp" alt="location" />
          UBICACIÓN
        </a>
      ) : (
        locations.map((location) => {
          return (
            <a class="button" href={location} target="_blank">
              <img src="/icons/map.webp" alt="location" />
              UBICACIÓN
            </a>
          );
        })
      )
    }
  </div>
</ClientLayout>
<style>
  .social-networks {
    display: block;
    background-color: hsla(48, 100%, 92%, 0.1);
    width: 300px;
    margin: 0;
    padding: 20px;
  }

  .button {
    display: flex;
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
</style>
